.header-area {
    @media #{$md}{
        padding: 18px 0;
    }
    @media #{$sm}{
        padding: 18px 0;
    }
    @media #{$xs}{
       padding: 18px 0;
    }
}
.main-header{
    position: relative;
    z-index: 3;
    .main-menu{
        & ul{
            & li{
                display: inline-block;
                position: relative;
                z-index: 1;

                & a{
                    color: #262626;
                    font-weight: 400;
                    padding: 38px 19px;
                    display: block;
                    font-size: 16px;
                    position: relative;
                    @include transition(.3s);
                    font-family: 'Lato', sans-serif;
                }
                &:hover{
                    & > a{
                        color: $theme-color;
                    }
                }
            }
            & ul.submenu{
                position: absolute;
                width: 170px;
                background: #fff;
                left: 0;
                top: 120%;
                visibility: hidden;
                opacity: 0;
                box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
                padding: 17px 0;
                @include transition(.3s);
                & > li{
                    margin-left: 7px;
                    display: block;
                    & > a{
                        padding: 6px 10px !important;
                        font-size: 14px;
                        color: #0b1c39;
                        &:hover{
                            color:$theme-color;
                        }
                    }
                } 
            }
        }
    }
    .logo{
        & img{
            //  padding-top: 5px;
            // padding-bottom: 5px;
        }
    }
}
.main-header ul > li:hover > ul.submenu {
	visibility: visible;
    opacity: 1;
    top: 100%;
}
.header-sticky ul li a {
	padding: 10px 19px;
}
.header-sticky.sticky-bar.sticky .main-menu ul>li>a {
	padding: 22px 20px;
}
.header-sticky.sticky-bar.sticky {
    // padding: 18px 0;
    @media #{$laptop}{
        padding: 5px 0;
    }
    @media #{$xlg}{
        padding: 5px 0;
    }
    
}
